
{
  "show_encoding": true,
  "bold_folder_labels": true, // 文件夹label加粗显示
  "match_brackets": true, // 是否特殊显示当前光标所在的括号, 代码头尾闭合标记
  "scroll_speed": 1.0,
  "auto_complete": true,
  "close_windows_when_empty": true,
  "default_encoding": "UTF-8",
  "font_size": 16.0,
  // 突出显示当前光标所在的行
  "highlight_line": true,
  "remember_open_files": true,
  "syntax_sensitive": true,
  "tab_size": 2,
  "translate_tabs_to_spaces": true,
  // 为true时，保存文件时会删除每行结束后多余的空格
  "trim_trailing_white_space_on_save": true,
  "wide_caret": true,
  "rulers": [80],
  "draw_white_space": "all", // 显示Tab, 空格
  "show_full_path": true, // 显示全路径
  "scroll_past_end": true,
  "word_wrap": false, // 自动换行
  "folder_exclude_patterns": [".svn", ".git", ".hg", "CVS", ".meteor"], //搜索时 忽略文件夹
  "ignored_packages": [] //vim模式
}
